/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$body-background-color:#f5f6fa;
$borders-color:#7f8fa6;
/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$text-font: 'Open Sans', sans-serif;
$page-logo: 'Lobster', cursive;
