.table_container {
    display: flex;
    justify-content: center;
}

th a {
    color: $borders-color;
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.scroll-wrapper table {
    width: 100%;
    max-width: 100%;
}