.summary_wrapper {
    height: 40%;
    display: flex;
}

.summary_cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px $borders-color;
}

.summary_cell_value {
    margin-left: 200px;
}

.chart_title {
    margin-top: 50px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filters a {
    position: relative;
    text-decoration: none;
}

.filters a::before {
    content: '';
    position: absolute;
    background: orange;
    width: 12px;
    height: 10px;
    display: block;
    border-radius: 50%;
    left: -100%;
    top: 25%;
}

.filters a:first-child:before {
    background: rgb(63, 63, 212);
    left: -50%;
    top: 25%;
}

.filters a:nth-child(3):before {
    background: green;
    left: -50%;
    top: 25%;
}

.chart img {
    width: 100%;
    height: 100%;
}

.chart {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    margin:auto;
}

@media (max-width: 992px) {
    .summary_wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
        margin: 0;
    }

    .summary_cell p {
        margin: 10%;
    }

    .summary_cell h4 {
        height: 25px;
        margin-top: 30px;
    }

    .filters {
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .summary_wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5%;
    }
}

@media(max-width:520px) {
    .summary_cell h4 {
        margin: 10%;
    }

    .summary_cell p {
        height: 20%;
        margin: 10%;
    }
}

@media(max-width:420px) {
    .summary_cell h4 {
        margin: 5%;
    }

    .summary_cell p {
        margin: 5%;
    }
}