.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px $borders-color;
}

.informations * {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.persona_data_button {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.informations_elment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.informations_elment h4 {
    width: 140px;
    //height:35px;
    margin-top: 20px;
}

@media(max-width:380px) {
    .informations_elment {
        width: 80%;
    }

    .informations_elment input {
        width: 60%;
    }
}