.pop_ups {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 30px;
}

.popups_inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.form_wrapper img {
    margin-top: 10px;
    margin-right: 10px;
}


.login_form button {
    margin-top: 40px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    margin-bottom: 30px;
}

.pop_ups form {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.pop_ups .section_header {
    display: flex;
}

.pop_ups .btn-close {
    position: absolute;
    left: 95%;
    background: white;
    font-size: 30px;
    padding: 0;
    top: 10%;
}


.quit_content {
    display: flex;
    justify-content: center;
}

.quit_form button {
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quit_content button:nth-child(2) {
    margin-left: 30px;
}

.partner_informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    height: 150px;
    border-bottom: solid 1px $borders-color;
}

.partner_informations img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.manager_details {
    margin-left: 20px;
}

.is_active {
    background: rgb(55, 177, 55);
    border-radius: 40%;
    display: block;
    width: 70px;
    padding-left: 10px;
}

.message {
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px;
    height: 30px;
    display: inline-block;
    border-radius: 5%;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.mine_messages .message {
    background: $borders-color;
    margin-left: 90px;
}

.mine_messages .message:after {
    background: $borders-color;
}

.yours_messages .message {
    background: silver;
}

.yours_messages .message:after {
    background: silver;
}

.message:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    top: 98%;
    right: 0;
    transform: rotate(270deg);
}

.send_wrapper {
    display: flex;
    flex-direction: row;
}

.send_wrapper input {
    width: 80%;
}

.send_wrapper button {
    width: 15%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 20px;
}

@media(max-width:1028px) {
    .popups_inputs {
        flex-direction: column;
    }

    .form_wrapper {
        justify-content: center;
    }

    .pop_ups .btn-close {
        width: 1%;
    }

    .message_form .section_header h4 {
        font-size: 20px;
    }
}

@media(max-width:836px) {
    .pop_ups .btn-close {
        left: 90%;
    }

    .message {
        font-size: 10px;
    }
}

@media(max-width:620px) {
    .send_wrapper input {
        width: 60%;
        margin-left: 10%;
    }
}

@media (max-width:578px) {
    .quit_content button {
        width: 38%;
    }

    .quit_form .section_header h4 {
        font-size: 15px;
    }

    .quit_form .btn-close {
        top: -20%;
        height: 2px;
        background: transparent;
    }

    .send_wrapper button {
        width: 30%;
    }

    .mine_messages {
        margin-right: 10%;
    }

    .manager_details h2 {
        font-size: 20px;
    }

    .login_form button {
        width: 30%;
    }
}

@media(max-width:460px) {
    .form_wrapper input {
        width: 60%;
    }

    .pop_ups .btn-close {
        left: 85%;
    }

    .manager_details h2 {
        font-size: 14px;
    }

    .partner_informations {
        padding-left: 10px;
    }

    .message {
        font-size: 7px;
    }
}

@media(max-width:386px) {
    .quit_form .section_header h4 {
        font-size: 12px;
    }

    .quit_form .btn-close {
        top: -5%;
        font-size: 20px;
        left: 90%;
    }

    .mine_messages .message {
        margin-left: 20%;
    }
}
